body.talk-mode {
  overflow: hidden;
}

code.hljs {
  background: rgba(black, .1);
  border-radius: .25em;

  > em > [class^=hljs-] {
    color: inherit;
  }

  pre > & {
    padding: .5em;
  }
  :not(pre) > & {
    display: inline-block;
    padding: .2em .35em;
    line-height: 1;
  }
}
pre {
  margin: .25em 0;
}
h1, h2, h3, h4 {
  &:first-child {
    margin-top: 0;
  }
  &.invert {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .025em #34383e;
  }
}

.center {
  text-align: center;
}
.one-line {
  white-space: nowrap;
}

.two-columns {
  display: flex;

  > * { margin: 0 .5em; }
}

.invisible {
  visibility: hidden;
}

.our-header {
  border-left: $brand-color solid .15em;
  padding: .5em;
  margin-bottom: .5em;
}

.slide-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:first-child {
    background: $brand-color;
    outline: 50vmin solid $brand-color;
    color: white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -15%;
      right: 0;
      bottom: -15%;
      left: 0;
      background: url("../img/logo-antreem-contour.svg") center/contain no-repeat;
    }

    > div {
      position: relative;
    }

    img {
      width: 25%;
      display: block;
      margin: 2rem auto;
    }

    a {
      color: #fe6;
      text-shadow: 0 0 .1em $brand-color;
    }
  }
}

.link {
  display: block;
  padding: .25em .5em .25em 3.5em;
  background: .5em center/2.5em no-repeat;
  text-decoration: none;

  &.babel {
    background-color: #f5da55;
    background-image: url(../img/babel.svg);
    border-radius: .5em;
  }
  &.npm {
    background-image: url(../img/npm.svg);
  }
}

.icon {
  height: 1.25em;
  width: 1.25em;
  vertical-align: middle;
}

li > h4 {
  margin: 1em 0 0;
}

.support {
  background-color: #e7f5fe;
  padding-top: .125em;
  border-radius: 0 0 .25em .25em;
  margin: 0 auto;
  border: .123em solid lightskyblue;
  border-spacing: .125em;

  > caption {
    background-color: lightskyblue;
    border-radius: .333em .333em 0 0;
    font-size: 75%;
  }

  th > img {
    height: .75em;
  }

  td {
    background-color: white;
    padding: .1em;
    min-width: 2em;
    text-align: center;
    border-radius: .15em;
  }
  .ok {
    background-color: #c7f0c1;
  }
  .ko {
    background-color: #f0c1c1;
    background-image: linear-gradient(to bottom right,rgba(230,100,101,.2) 0,rgba(230,100,101,.2) 1px,transparent 1px,transparent 67px,rgba(230,100,101,.2) 67px,rgba(230,100,101,.2) 73px,transparent 73px,transparent 138px,rgba(230,100,101,.2) 138px,rgba(230,100,101,.2) 144px,transparent 144px),linear-gradient(to bottom left,rgba(230,100,101,.2) 0,rgba(230,100,101,.2) 1px,transparent 1px,transparent 67px,rgba(230,100,101,.2) 67px,rgba(230,100,101,.2) 73px,transparent 73px,transparent 138px,rgba(230,100,101,.2) 138px,rgba(230,100,101,.2) 144px,transparent 144px);
    background-size: 100px 100px,100px 100px;
    background-position: 50% 50%,50% 50%;
    background-repeat: no-repeat;

    &::before {
      content: "\a0";
    }
  }
}
.simple-table {
  border-collapse: collapse;

  th, td {
    padding: .25em .5em;

    &:not(:last-child) {
      border-right: .025em dotted;
    }
  }
  tr:not(:last-child) {
    td, th {
      border-bottom: .025em dotted;
    }
  }
  thead {
    > tr:last-child > th {
      border-bottom: .1em solid;
    }
    th:empty {
      border-right: .1em solid;
    }
  }
  tbody {
    th:first-child { border-right: .1em solid; }
  }
}
