/**
 * Monokai style - ported by Luigi Maselli - http://grigio.org
 */
.hljs {
  display: block;
  font-family:
    San Francisco Mono,
    Monaco,
    Consolas,
    Lucida Console,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    monospace;
  overflow-x: auto;
  font-weight: normal;
}

.dark .hljs {
  color: #ddd;
}

.dark .hljs-tag,
.dark .hljs-keyword,
.dark .hljs-selector-tag,
.dark .hljs-literal,
.dark .hljs-strong,
.dark .hljs-name {
  color: #d13787;
}

.dark .hljs-code {
  color: #66d9ef;
}

.dark .hljs-attribute,
.dark .hljs-symbol,
.dark .hljs-regexp,
.dark .hljs-link {
  color: #bf79db;
}

.brand .hljs-class,
.dark .hljs-string,
.dark .hljs-bullet,
.dark .hljs-subst,
.dark .hljs-title,
.dark .hljs-section,
.dark .hljs-emphasis,
.dark .hljs-type,
.dark .hljs-built_in,
.dark .hljs-builtin-name,
.dark .hljs-selector-attr,
.dark .hljs-selector-pseudo,
.dark .hljs-addition,
.dark .hljs-variable,
.dark .hljs-template-tag,
.dark .hljs-template-variable {
  color: #a6e22e;
}

.dark .hljs-comment,
.dark .hljs-quote,
.dark .hljs-deletion,
.dark .hljs-meta {
  color: hsl(122, 45%, 30%);
}

/**
 * Monokai style - ported by Luigi Maselli - http://grigio.org
 */
.brand .hljs {
  color: #34383e;
}

.brand .hljs-tag,
.brand .hljs-keyword,
.brand .hljs-selector-tag,
.brand .hljs-literal,
.brand .hljs-strong,
.brand .hljs-name {
  color: #d13787;
}

.brand .hljs-code {
  color: #66d9ef;
}

.brand .hljs-attribute,
.brand .hljs-symbol,
.brand .hljs-regexp,
.brand .hljs-number,
.brand .hljs-link {
  color: #01988c;
}

.brand .hljs-class,
.brand .hljs-string,
.brand .hljs-bullet,
.brand .hljs-subst,
.brand .hljs-title,
.brand .hljs-section,
.brand .hljs-emphasis,
.brand .hljs-type,
.brand .hljs-built_in,
.brand .hljs-builtin-name,
.brand .hljs-selector-attr,
.brand .hljs-selector-pseudo,
.brand .hljs-addition,
.brand .hljs-variable,
.brand .hljs-template-tag,
.brand .hljs-template-variable {
  color: #5d4fa1;
}

.brand .hljs-comment,
.brand .hljs-quote,
.brand .hljs-deletion,
.brand .hljs-meta {
  color: #a0a1a7;
}
